*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-header {
    display: flex;
    margin: 1rem 3rem;
    justify-content: space-between;
    position: relative;
}

.logo-text {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 4rem;
    font-size: 3rem;
    color: rgb(155, 155, 148);
}

.logo-menu {
    flex-direction: end;
}

.second-section {
    height: 130vh;
    background-position: 34.74% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/p1.jpg);
}

.second-section-text {
    color: white;
    margin-left: 5rem;
    padding-top: 13rem;
}

.second-section-text h2 {
    font-size: 4rem;
    letter-spacing: 5px;
    font-weight: 350;
    font-style: normal;
    margin: 0;
    text-align: left;
}

.second-section-text h1 {
    font-size: 7rem;
    font-family: "Archivo Black";
    font-weight: 800;
    margin: 0rem;
}

.second-section .line::before {
    content: "";
    position: absolute;
    transform: translateX(-50);
    left: 7%;
    width: 43%;
    height: 0.6rem;
    background-color: white;
}

.line {
    padding: 1rem;
}

.icon {
    display: flex;
    margin-top: 2rem;
    padding: 1rem;
    height: 5rem;
}

.painting {
    width: 12rem;
    display: flex;
    flex-direction: column;
}

.painting p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

.painting img {
    display: flex;
    align-items: center;
    height: 6rem;
    text-align: center;
}

.third-section {
    height: 80vh;
    color: #111111;
    background-color: #f2f2f2;
}

.third-section .third-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 0rem 2rem 0rem;
    width: 90%;
    margin-left: 4rem;
}

.third-section-div h3 {
    font-size: 1.25rem;
    padding: 0;
    color: #999999;
    word-wrap: break-word;
    position: relative;
    font-family: Roboto, sans-serif;
}

.third-section-div h2 {
    font-weight: 700;
    font-size: 3.125rem;
    margin: 20px auto 0;
}

.third-section-div p {
    word-wrap: break-word;
    position: relative;
    flex-shrink: 0;
    color: #111111;
    text-align: center;
    line-height: 1.6;
    width: 720px;
    font-size: 1.2rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.but {
    padding: 1rem;
    width: 8rem;
    background-color: red;
    color: white;
    border: 0 none transparent;
    border-radius: 3px;
    display: table;
    cursor: pointer;
    line-height: inherit;
    font-family: inherit;
    text-decoration: none;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    text-align: center;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-section {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 4rem;
    margin-left: 8rem;
}

.fourth-section-first-div img {
    height: 25rem;
    width: 33em;
}

.fourth-section .fourth-section-first-div img {
    padding-bottom: 3rem;
}

.fourth-section .fourth-section-first-div p {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 0;
    line-height: 1.8rem;
    margin-left: 4rem;
}

.fourth-section-second-div h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.fourth-section-second-div h3 {
    font-size: 2rem;
    color: red;
}

.fourth-section-second-div img {
    width: 33rem;
}

.fifth-section {
    background-color: lavender;
    height: 100vh;
    display: flex;
}

.fifth-section .fifth-section-img img {
    height: 76.8vh;
    width: 60vh;
    flex-shrink: 1;
}

.fifth-section .fifth-section-img {
    width: 80%;
    zoom: 1.3;
    margin-left: 6rem;
}

.fifth-section .fifth-section-text {
    width: 100%;
    padding-top: 10rem;
    margin-right: 4rem;
}

.fifth-section .fifth-section-text p::before {
    content: "";
    position: absolute;
    transform: translateX(-50);
    left: 43rem;
    width: 40%;
    height: 0.6rem;
    background-color: red;
    margin: -2rem;
}

.fifth-section .fifth-section-text h1 {
    font-size: 4rem;
    color: blue;
    padding: 1rem;
}

.fifth-section .fifth-section-text p {
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.our-services {
    font-size: 3rem;
    padding: 4rem 0 0rem 5rem;
    font-weight: 600;
}

.sixth-section {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
}

.sixth-section-div {
    margin: 2rem 2rem 0rem 4rem;
    height: 50vh;
    width: 80%;
    margin-bottom: 4rem;
}

.sixth-section-div .img {
    background-color: #e71a23;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 0rem;
    margin-left: 0%;
}

.sixth-section-div p {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.sixth-section-div h1 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}

.service-div {
    display: flex;
}

.seventh-section {
    background-color: #104e92;
    display: flex;
    height: 100vh;
}

.seventh {
    display: flex;
    justify-content: center;
}

.seventh-section-text {
    width: 50%;
    padding: 10rem;
    color: white;
}

.seventh-section-text h4 {
    font-size: 2rem;
}

.seventh-section-text h2 {
    font-size: 6rem;
}

.seventh-section-img {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 2em;
    margin-top: 8em;
    grid-auto-rows: 12em;
}

.seventh-section-img img {
    height: 12rem;
    padding: 0%;
    margin: 0%;
}

.seventh-section-img img {
    width: 100%;
}

.last-section {
    text-align: center;
    padding: 100px 0;
    margin: 1em;
    width: 90%;
}

.last-section-div {
    width: 80%;
    margin: 0 auto;
}

.last-section-div h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.last-section-div p {
    font-size: 1.875rem;
    font-weight: 300;
    margin: 30px 0 0;
    line-height: 3rem;
}

.last-section-button {
    margin-top: 2rem;
}

.but-1 {
    padding: 1rem;
    margin: 1rem;
    width: 8rem;
    background-color: red;
    color: white;
    border: 0 none transparent;
    border-radius: 3px;
    cursor: pointer;
    line-height: inherit;
    font-family: inherit;
    text-decoration: none;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    text-align: center;
    text-transform: uppercase;
    border: red solid;
}

.but-2 {
    text-transform: uppercase;
    padding: 1rem;
    width: 8rem;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    line-height: inherit;
    font-family: inherit;
    text-decoration: none;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    text-align: center;
}

@media(max-width:769px) {
    .second-section {
        background-position: 55.74% 0%;
    }
    .second-section-text h2 {
        font-size: 2.8rem;
    }
    .second-section-text h1 {
        font-size: 5rem;
    }
    .painting {
        width: 9rem;
    }
    .painting p {
        font-size: 1.5rem;
    }
    .painting img {
        height: 4rem;
    }
    .second-section .line::before {
        left: 12%;
        width: 55%;
    }
    .third-section .third-section-div {
        padding: 4rem 0rem 2rem 0rem;
        width: 90%;
        margin-left: 2rem;
    }
    .fourth-section {
        flex-direction: column;
        margin-left: 1em;
        width: 100%;
    }
    .fourth-section-first-div {
        width: 80%;
        margin-bottom: 4rem;
    }
    .fourth-section-first-div img {
        height: 25rem;
        width: 90%;
    }
    .fourth-section-second-div img {
        width: 100%;
        height: 25rem;
    }
    .fifth-section .fifth-section-img img {
        width: 50vh;
    }
    .fifth-section .fifth-section-img {
        margin-left: 2rem;
    }
    .fifth-section .fifth-section-text {
        padding-top: 3rem;
        margin-right: 2rem;
    }
    .fifth-section .fifth-section-text h1 {
        font-size: 3rem;
    }
    .fifth-section .fifth-section-text p::before {
        left: 33rem;
        width: 27%;
    }
    .sixth-section-div {
        height: 100vh;
    }
    .seventh-section {
        flex-direction: column;
        height: 150vh;
    }
    .seventh-section-text {
        width: 100%;
        padding: 2rem 2rem 0rem 3rem;
    }
    .seventh-section-text h2 {
        font-size: 5rem;
        width: 100%;
    }
    .seventh-section-img {
        grid-template-rows: 45% 45%;
        gap: 1.5em;
        margin: 2em 4rem;
        grid-auto-rows: 4em;
        width: 100%;
    }
    .seventh-section-img {
        margin-left: 1em;
    }
}

@media(max-width:426px) {
    .second-section {
        background-position: 81.49% 50%;
        width: 100%;
    }
    .second-section-text {
        padding-top: 28rem;
    }
    .second-section-text h2 {
        font-size: 2rem;
    }
    .second-section-text h1 {
        font-size: 3rem;
    }
    .second-section .line::before {
        left: 19%;
        width: 60%;
    }
    .painting {
        display: none;
    }
    .third-section .third-section-div {
        padding: 3rem 0rem 0rem 0rem;
        width: 80%;
    }
    .third-section-div h2 {
        text-align: center;
        font-size: 2rem;
    }
    .third-section-div p {
        width: 400px;
        font-size: 1rem;
        padding-bottom: 4rem;
    }
    .fourth-section-first-div {
        width: 80%;
    }
    .fourth-section-second-div {
        width: 80%;
    }
    .fourth-section-second-div h3 {
        font-size: 1.5rem;
    }
    .fourth-section {
        margin-left: 0em;
        width: 100%;
    }
    .fifth-section {
        display: flex;
        flex-direction: column;
        height: 150vh;
        align-items: center;
    }
    .fifth-section .fifth-section-img {
        width: 100%;
        margin-left: 0rem;
    }
    .fifth-section .fifth-section-img img {
        height: 15em;
    }
    .fifth-section .fifth-section-text h1 {
        font-size: 3rem;
    }
    .fifth-section .fifth-section-text p::before {
        left: 2.5rem;
        width: 75%;
    }
    .fifth-section .fifth-section-text p {
        font-size: 1rem;
        margin-left: 2%;
    }
    .sixth-section-div {
        margin: 0.5rem 0rem 0rem 0.5rem;
        height: 70vh;
        width: 78%;
        margin-bottom: 2rem;
    }
    .sixth-section-div p {
        font-size: 2rem;
        line-height: 2rem;
        width: 100%;
    }
    .service-div {
        display: flex;
        flex-direction: column;
    }
    .seventh-section {
        height: 305vh;
    }
    .seventh-section-text h2 {
        font-size: 2.5rem;
    }
    .seventh-section-img img {
        width: 80%;
        height: 19rem;
    }
    .seventh-section-img {
        margin-left: 1em;
    }
    .last-section-div {
        height: 0px;
        margin: 1em auto;
    }
    .last-section-div h1 {
        width: 90%;
        font-size: 0.6em;
        margin-bottom: 1.5em;
    }
    .last-section-div p {
        width: 80%;
        font-size: 1em;
    }
    .sixth-section-div .img {
        height: 80px;
        width: 80px;
    }
    .seventh-section-img {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .last-section-button {
        display: flex;
        flex-direction: column;
        padding-top: 32em;
        align-items: center;
    }
    .fifth-section .fifth-section-img img {
        width: auto;
    }
}